{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="" id="top_image"></div>
{% endblock content %}
{% block main %}
    
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="homeh1">Soccer Players</h1>
</div>

<div class="list">
<a href="{% url 'player_create' %}"><button class="button-33" role="button">Add Player</button></a>
<div class="row">
{% for player in object_list %}
<div class="card">
  <a href="{% url 'player_detail'  player.id%}">
  <img src={{player.image}} alt={{player.name}} class="cardImage" >
  <h3 class="cardh3" >{{player.name}}</h3>
  <p class="cardp">{{player.team}} </p>
  </a>
</div>

{% endfor %}
</div>
</div>

{% endblock main %}


